page-welcome {
  #welcome {
    background: color($colors, secondary);

    .header {
      text-align: center;
      h1 {
        font-size: 52px;
        margin-top: 50px;
      }
    }

    .marginTop {
      margin-top: 150px;
    }
  }
}
