<ion-header>
  <ion-navbar>
    <ion-title>
      Contar a Receber
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
      <ion-item>
        <ion-label>Data Lançto</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="form.date_launch"></ion-datetime>
      </ion-item>
      <ion-item>
      <ion-label fixed>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="form.name"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label fixed>Valor</ion-label>
      <ion-input type="text" [(ngModel)]="form.value"></ion-input>
      </ion-item>
      <button ion-button block color="primary" class="marginTop" (click)="save()"  *ngIf="!editable">Salvar</button>
      <button ion-button block color="primary" class="marginTop" (click)="update()" *ngIf="editable">Alterar</button>
  </ion-list>

  <ion-card *ngFor="let item of billreceives" >
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
      <p>
        {{item.date_launch}}
      </p>
      <p>
        {{item.value}}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-start (click)="edit(item.id)">
          Editar
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start (click)="del(item.id)">
          Excluir
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
